<h1 style="font-family:Comic Sans MS;color:Green;">Here are all the Groups you can join!</h1>
<% @group.each do |g| %>
	
	<br/>
	<div style="border-style: dotted; border-color: green; padding: 20px; height: 50%; width: 50%;">
		<p> <%= link_to g.name, group_path(g.id) %> </p>
		  <% g.users.each do |u| %>
			  <table>
				  	<tr>
				  	  	<td> <%= u.name %> </td>
				  	    <td> <%= u.age %></td>
				  	    <td> <%= u.sex %></td>
				  	</tr>
			  	</table>
			  <% end %>
		  <%= button_to "Join this group!", group_path(g.id), :class => "button medium", :method => :patch %>
	</div>
	<br/>
<% end %>