<h3>Group Page</h3>
<p>Group Name: <%= @group.name %></p>
<p>Members: </p>
<table>
  <tr><th>Name</th>
    <th>Email</th>
    <th>Age</th>
    <th>Sex</th>
  </tr>
  <% @group.users.each do |u| %>
  <tr><td> <%= link_to u.name, user_path(u.id) %> </td>
    <td> <%= u.email %></td>
    <td> <%= u.age %></td>
    <td> <%= u.sex %></td>
  </tr>
  <% end %>
</table>