<br/><br/>
<div style="height:900px; width:700px; margin:auto; padding:10px;">
	<div style="border-style:dotted; border-color:black; padding:50px;">
		<h1 style="font-family: arial;"> <%= @user.name if @user.name %>'s Profile</h1>
		<% if current_user == @user %>
		<p>Email: <%= @user.email if @user.email %></p>
		<p>Phone: <%= @user.phone if @user.phone %></p>
		<p>Age: <%= @user.age if @user.age %></p>
		<p>Gender: <%= @user.sex if @user.sex %></p>
		<% else %>
			<p>Age: <%= @user.age if @user.age %></p>
			<p>Gender: <%= @user.sex if @user.sex %></p>
		<% end %>

		<div>
			<br/><br/>
			<h4 style="font-family: comic sans ms;">Current Group: </h4>
				<% if @user.group %>
					<%= @user.group.name %>
				<% else %>
					<p>Doh! No Group :(</p>
					<%= image_tag 'alone.jpg', alt: "Forever Alone...", style: "width:100%;", id: "falone"%>
				<% end %>
		</div>
	</div>
</div>