<h3>Profile</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Phone: <%= @user.phone if @user.phone %></p>
<p>Age: <%= @user.age if @user.age %></p>
<p>Gender: <%= @user.sex if @user.sex %></p>
<h2>Group: <%= @user.group.name if @user.group %></h2>